---
import Layout from '../layouts/Layout.astro';
import Navbar from '../sections/Navbar.astro';

import Principal from '../sections/Principal.astro';
import Footer from '../sections/Footer.astro';
---

<Layout title="Nicolas Dume Fullstack">
	<Navbar />
	<main class="flex justify-center">
		<Principal />
	</main>
	<Footer />
</Layout>

