---
import Layout from '../layouts/Layout.astro';
import Navbar from '../sections/Navbar.astro';

import Main from '../sections/Main.astro';
---

<Layout title="Nicolas Dume Fullstack">
	<Navbar />
	<main class="flex flex-col justify-center lg:px-20 xl:px-28 2xl:px-56">
		<Main />
	</main>

</Layout>

