<section class="container mx-auto p-2 sm:px-8 md:px-10 lg:py-0 lg:px-16 2xl:p-0 xl:p-7 grid sm:grid-cols-2 lg:grid-cols-3 justify-items-center gap-7 lg:gap-5 mt-8 lg:mt-12">

    
    <div class="max-w-sm sm:max-w-xs md:max-w-sm 2xl:max-w-md xl:max-w-lg relative">
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-700">
            <h5 class="mb-2 text-sm md:text-base xl:text-lg 2xl:text-xl font-bold tracking-tight text-gray-900 dark:text-white">Dk Digital App</h5>
            <p class="mb-3 text-xs md:text-sm xl:text-base 2xl:text-lg font-normal text-gray-700 dark:text-gray-400">
                La Demo Web de Marketing Digital, una SPA con Next.js, se basa en Pinterest. Destaca servicios de marketing digital con una interfaz elegante y receptiva,
                navegaci칩n fluida y responsiva. 
            </p>
            <button 
                aria-label="demo"
                class="relative z-10 w-full p-2 xl:py-1 2xl:py-2  text-sm 2xl:text-base  uppercase text-white rounded-full bg-gradient-to-r from-[#664bc0ea] to-[#3d40f0ea] border border-[#6e51cfea] hover:bg-gradient-to-r hover:from-[#4f46e5ea] hover:to-[#342eca] transition duration-300"
                onclick="window.open('https://agencia-digital-app.vercel.app/', '_blank');"
            >
             Ver Demo
            </button>
        
        </div>
        <div class="absolute inset-0 overflow-hidden rounded-md" style="top: 8px; left: 8px;"></div>
        <div class="absolute inset-0 group-hover:shadow-lg">
            <div class="bg-[#3d40f0ea] opacity-30 w-full h-32 blur-2xl"></div>
        </div>
    </div>
    


    <div class="max-w-sm sm:max-w-xs md:max-w-sm xl:max-w-lg 2xl:max-w-md relative">
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-700">
            <h5 class="mb-2 text-sm md:text-base xl:text-lg 2xl:text-xl font-bold tracking-tight text-gray-900 dark:text-white">MultiTasker App</h5>
            <p class="mb-3 text-xs md:text-sm xl:text-base 2xl:text-lg font-normal text-gray-700 dark:text-gray-400">
                
                     Next Auth, que incluye demostraci칩n con GitHub. Utiliza una API simulando una agenda de usuarios para CRUD y presenta una secci칩n cl치sica de lista de tareas. 
            </p>
            <button 
                aria-label="demo"
                class="relative z-10 w-full p-2 xl:py-1 2xl:py-2 text-sm 2xl:text-base  uppercase text-white rounded-full bg-gradient-to-r from-[#664bc0ea] to-[#3d40f0ea] border border-[#6e51cfea] hover:bg-gradient-to-r hover:from-[#4f46e5ea] hover:to-[#342eca] transition duration-200"
                onclick="window.open('https://agencia-digital-app.vercel.app/', '_blank');"
            >
                Ver Demo
            </button>
        
        </div>
        <div class="absolute inset-0 overflow-hidden rounded-md" style="top: 8px; left: 8px;"></div>
        <div class="absolute inset-0 group-hover:shadow-lg">
            <div class="bg-[#3d40f0ea] opacity-30 w-full h-32 blur-2xl"></div>
        </div>
    </div>

    <div class="max-w-sm sm:max-w-xs md:max-w-sm xl:max-w-lg 2xl:max-w-md relative">
        <div class="p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-900 dark:border-gray-700">
            <h5 class="mb-2 text-sm md:text-base xl:text-lg 2xl:text-xl font-bold tracking-tight text-gray-900 dark:text-white">Api Crud</h5>
            <p class="mb-3 text-xs md:text-sm xl:text-base 2xl:text-lg font-normal text-gray-700 dark:text-gray-400">
                API para gestionar elementos. creada con Node.js, Express y TypeScript: GET para recuperar, POST para agregar, PUT para actualizar y DELETE para eliminar elementos.</p>
            <button 
                aria-label="demo"
                class="relative z-10 w-full p-2 xl:py-1 2xl:py-2  text-sm 2xl:text-base uppercase text-white rounded-full bg-gradient-to-r from-[#664bc0ea] to-[#3d40f0ea] border border-[#6e51cfea] hover:bg-gradient-to-r hover:from-[#4f46e5ea] hover:to-[#342eca] transition duration-200"
                onclick="window.open('https://agencia-digital-app.vercel.app/', '_blank');"
            >
                Ver Demo
            </button>
            
        </div>
        <div class="absolute inset-0 overflow-hidden rounded-md" style="top: 8px; left: 8px;"></div>
        <div class="absolute inset-0 group-hover:shadow-lg">
            <div class="bg-[#3d40f0ea] opacity-30 w-full h-32 blur-2xl"></div>
        </div>
    </div>


</section>
