---
import '@fontsource/poppins';
---

<nav class="container mx-auto relative animate-fade-in duration-1000 ">
    <div class="flex flex-col lg:flex-row lg:justify-center lg:gap-10 items-center relative z-20 pt-14">
        <div class="text-white mt-2 mb-6 lg:my-0">
            <a 
                aria-label="NicolasCv"
                href="https://drive.google.com/file/d/15fU2szQR4vhvfX5XygKzn9u1GqNrGp0q/view?usp=drive_link"
                class="border text-base uppercase font-bold py-2 px-4 rounded-md bg-gray-900 hover:bg-gray-950 transition duration-500"
            >
                Nicolas Dume
            </a>
        </div>
        <div>
            <ul class="flex gap-3 sm:gap-4 text-base sm:text-lg uppercase text-white cursor-pointer">
                <li class="p-1 hover:text-gray-300 hover:transition hover:duration-200 hover:ease-in-out"><a href="/" aria-label="Home">Inicio</a></li>
                <li class="p-1 hover:text-gray-300 hover:transition hover:duration-200 hover:ease-in-out"><a href="/" aria-label="Projects">Proyectos</a></li>
                <li class="p-1 hover:text-gray-300 hover:transition hover:duration-200 hover:ease-in-out"><a href="/" aria-label="About">Sobre mi</a></li>
            </ul>
        </div>

    </div>
</nav>


