

<nav class="container mx-auto relative animate-fade-in duration-1000 z-20 ">
    <div class="flex flex-col lg:flex-row lg:justify-center lg:gap-10 items-center relative z-20 pt-12 lg:p-16">
        <div class="text-white mb-12 lg:mb-0">
            <button 
                aria-label="NicolasCv"
                onclick="window.open('https://drive.google.com/file/d/1q3hzmxstlZafI4P271H-Pu5znjAtKRrg/view?usp=drive_link')"
                class="border text-base uppercase font-bold py-2 px-4 rounded-lg bg-blue-700 hover:bg-blue-600 transition duration-500"
                style="display: flex; align-items: center;"
            >
                <p class="px-2">Nicolas Dume</p>
                <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path fill="currentColor" d="M4 19h16v-7h2v8a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-8h2zM14 9h5l-7 7l-7-7h5V3h4z"/></svg>
            </button>
        </div>
        
        
        <div>
            <ul class="flex gap-3 sm:gap-4 text-base sm:text-lg uppercase text-white cursor-pointer">
                <li class="hover:text-gray-300 hover:transition hover:duration-200 hover:ease-in-out"><a href="/" class="p-1" aria-label="Home">Inicio</a></li>
                <li class="hover:text-gray-300 hover:transition hover:duration-200 hover:ease-in-out"><a href="#" class="p-1" id="goToProjects" aria-label="Projects">Proyectos</a></li>
                <li class="hover:text-gray-300 hover:transition hover:duration-200 hover:ease-in-out"><a href="#" class="p-1" id="goToAbout" aria-label="About">Sobre mi</a></li>
            </ul>
        </div>

    </div>
</nav>


