

    <section class="mt-24 max-w-sm  lg:max-w-full lg:block lg:justify-center px-4">
        <div class="max-w-sm p-2 border border-gray-800">
            <h3 class="text-center text-white font-bold">Frontend</h3>
            
            <div>

            </div>
        </div>
    </section>
