<section class="h-screen mt-[50%]">
    <article class="py-4 px-10 text-white relative">
        <h2 class="text-center text-xl uppercase font-bold text-yellow-500 mb-4">Sobre mi</h2>
        <p class="py-3">Soy de Olavarría, Buenos Aires, Argentina.</p>
        <p>
            Mis hobbies incluyen leer, practicar artes marciales, viajar, conectarme con la naturaleza  y pasar tiempo con mi familia y mis amigos.
        </p>
        <div class="bg-[#2b2eecea] inset-0 top-6 left-0 absolute opacity-20 w-full h-full blur-2xl"></div>
    </article>
</section>