<section class="h-screen mt-[300px] sm:mt-[100%] lg:mt-[50%] xl:mt-[25%] 2xl:mt-0 animate-fade-in duration-1000 ">
    <article class="py-4 px-10 sm:px-12 md:px-14 lg:px-24 2xl:px-32  2xl:text-[30px] text-white relative">
        <h2 class="text-center text-xl xl:px-16 sm:text-2xl 2xl:text-[30px] uppercase font-bold text-yellow-500 mb-4">Sobre mi</h2>
        <p class="py-3 sm:py-4 text-lg xl:px-16 xl:text-center 2xl:text-[30px] sm:text-xl">Soy de Olavarría, Buenos Aires, Argentina.</p>
        <p class="py-3 sm:py-4 text-lg xl:px-16 xl:text-center 2xl:text-[30px]  sm:text-xl">
            Mis hobbies incluyen leer, practicar artes marciales, viajar, conectarme con la naturaleza  y pasar tiempo con mi familia y mis amigos.
        </p>
        <div class="bg-[#2b2eecea] inset-0 top-6 left-0 absolute opacity-20 w-full h-full blur-2xl"></div>
    </article>
</section>

