<footer>
    <div class="p-4 mt-24 animate-fade-in duration-1000">
        <h3 class="text-xl sm:text-2xl text-white text-center">Desarrollado por : <span class="font-bold text-yellow-500">@nsensedev</span></h3>
    </div>
</footer>

