---
import ButtonsLinks from '../components/ButtonsLinks.astro'
import Projects from '../components/Projects.astro'
---

<section class="max-w-sm   lg:max-w-full lg:block lg:justify-center px-4 lg:px-36 mt-16 lg:absolute lg:top-36">
    <article class="p-4 lg:p-0">
        <p class="text-center lg:text-2xl lg:text-start lg:p-16 text-white">¡Hola a todos!👋 Soy Nicolás, un desarrollador <span class="text-yellow-600 font-bold">Full Stack</span>, autodidacta y apasionado por resolver problemas, con el objetivo de convertirme en un destacado <span class="text-yellow-600 font-bold">Tech Lead</span> y contribuir al crecimiento y éxito de equipos de desarrollo.</p>
        </p>
    </article>
    <ButtonsLinks />
    <Projects />
</section>